{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_html_component/modal

    Modal to add a generated HTML component within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
       "selectList": {
            "id" => "id_component",
            "string" => "Component name",
        },
        "customGroup": {
            "customComponent": {
                "value" => "custom",
                "custom-component" => "Custom compontent",
                "custom-component-content" => "<div>HTMLL component content</div>",
                "name" => "Component name",
            },
        },
        "customUrl": "http://url.com",
    }
}}

{{< core/modal }}

    {{$title}}
        {{#str}} title, tiny_html_components{{/str}}
    {{/title}}

    {{$body}}
    <fieldset>
        <legend>{{#str}}choice_legend, tiny_html_components{{/str}}</legend>
        <div class="form-group row">
            <label for="component" class="col-sm-3 col-form-label">{{#str}}component, tiny_html_components{{/str}}</label>
            <div class="col-sm-9">
                <select  id="component" name="component" class="form-control" data-holder="component-selector">
                    <!-- Components list, alphabetic sort -->
                    <option value=""> {{#str}}component_placeholder, tiny_html_components{{/str}}</option>
                    <optgroup label="{{#str}}basic_components, tiny_html_components{{/str}}">
                        {{#selectList}}
                            <option value={{id}}>{{string}}</option>
                        {{/selectList}}
                    </optgroup>
                    {{#customGroup}}
                        <optgroup label="{{#str}}custom_components, tiny_html_components{{/str}}">
                            {{#customComponent}}
                                <option value={{value}}  data-content="{{custom-component-content}}">{{name}}</option>
                            {{/customComponent}}
                        </optgroup>
                    {{/customGroup}}
                    
                </select>
            </div>
        </div>
        <div id = "options-placeholder"></div>
        <p style="text-align: right;">
            <a href={{customUrl}} target="_blank">{{#str}}custom_components_link, tiny_html_components{{/str}}</a>
        </p>
        </fieldset>

        <fieldset>
        <legend>{{#str}}preview_legend, tiny_html_components{{/str}}</legend>
        <p style="margin-bottom: 20px; font-weight: bold;"><i>{{#str}}preview_desc, tiny_html_components{{/str}}</i></p>
        <div id="component_preview"></div>
    </fieldset>
    {{/body}}

    {{$footer}}
    <p style="margin-top: 20px;">{{#str}}suggestion, tiny_html_components{{/str}}</p>
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} insert, tiny_html_components{{/str}}</button>
    {{/footer}}
{{/ core/modal }}

